#SwitchLanguage {
    list-style: none;
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}


#SwitchLanguage > li {
    display: inline-block;
    padding-right: 15px;
}

body{
    background-color: #ededed;
}

form div{
    padding-bottom: 5px;
}

form label{
    font-weight: bold;
}

form {
    border-style: solid;
    border-color: lightgrey;
    padding: 5px;
}

.customSpace {
    display: inline-block;
    width: 150px !important;
}